@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Mono:wght@500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Mono:wght@500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

:root{
    --primary-color: #151515;
    --secondary-color: #1e1e1e;
    --accent-color: #1d93ab;
    
    --light-font-color: #bbb;
    --ligh-nav-color: #c7c7c7;
    --active-text-color: #ddd;

    --borders: 1px solid hsla(0,0%,100%,.192);
    --button-border-accent: linear-gradient(var(--primary-color), hsla(0, 0%, 100%, 0.374), var(--primary-color));
    
}


.lightmode{
    --primary-color: #efefef;
    --secondary-color: #fff;
    --accent-color: #64ccf8;
    
    --light-font-color: #303030;
    --ligh-nav-color: #1c1c1c;
    --active-text-color: #4d4d4d;

    --borders: 1px solid #dedede;
    --button-border-accent: linear-gradient(var(--secondary-color), hsla(0, 0%, 0%, 0.374), var(--secondary-color));
    
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

button{
    background-color: transparent;
    border: var(--borders);
    font-family: 'Roboto Mono', monospace;

}

.pomodoro-timer{
    font-size: 13em;
    color:var(--light-font-color);
}


.navbar{
    width: 99.8%;
    height: 15vh;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    text-decoration: none;
    color:var(--ligh-nav-color);
}

.logo a{
    font-family: 'Patrick Hand SC', cursive;
    font-size:60px;
    margin-left: 3vh;
}

.navbtns{
    margin-right:3vh;
    display: flex;
    gap: 1em;
    list-style: none;
}

.navbtns button{
    border:transparent;
}

.theme svg{
    fill: var(--light-font-color);
    stroke: var(--light-font-color);
}

.settings svg{
    fill: var(--light-font-color);
}



.container{
    border: var(--borders);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30em;
    width: 40em;
    gap: 1em;
    background-color: var(--secondary-color);

}


.timeFrame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    
}

.controls{
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex:1;
    gap: 390px;
    
}


.reset {
    background: transparent;
    border: none;
    margin-left:20px;
}

.start{
    border:none;
    margin-left: 20px;
}

.start svg{
    fill: var(--light-font-color);
}



.timerbtn{

    height: 4em;
    width: 10.7em;
    /* border-radius: 20em; */
    border: var(--borders);
    font-size: 1em;
    font-weight: bolder;
    color: var(--light-font-color);
    transition: 250ms;
    
}


#pomodoro{
    position: relative;
    border-radius: 1em 0 0 1em;
    border-right: transparent;
}


#pomodoro::after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 1.5px;
    background: var(--button-border-accent) ;
    
}


#long{
    position: relative;
    border-radius: 0 1em 1em 0;
    border-left: transparent;
}

#long::after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 2px;
    background: var(--button-border-accent);
}

#short{
    position: relative;
    border-left: transparent;
    border-right: transparent;
}

#short::after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0;
}




.btns{
    display: flex;
    /* gap: 20px; */
}

.timerbtn:hover{
    background-color: #323232;
    color: var(--primary-color)
    
}

.active{
    background-color: var(--accent-color);
    color:var(--active-text-color);
}

#setting-modal{
    width: 78vh;
    height: 80vh;
    max-width: 800px;
    margin: 5% auto;
    background-color: var(--primary-color);
    border-radius: 5vh;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: var(--borders);
    /* display: flex; */
}

.setting-nav{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    margin-top: 2vh;
    margin-right: 2vh;
}

.setting-nav button{
    border: none;
    fill:var(--light-font-color);
}

.setting-menu{
    color:var(--active-text-color);
    font-size: 1.7vh ;
    margin: 0 4vh 0 4vh;
}
.setting-menu h1{
    font-weight:1000;
}

.setting-options{
    font-weight: light;
    font-size: 2.3vh;
    margin: 4vh;
    margin-top: 2vh;
}

.setting-options select{
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    border-radius: 1.2vh;
    width: 50vh;
    height: 5vh;
    background-color: var(--secondary-color);
    color: var(--active-text-color);
}

.volumeControl{
    width: 40vh;
    accent-color: #64ccf8 ;

}



.save{
    border-color:var(--borders);
    font-size: 2vh;
    border-radius: 2vh;
    margin-top: 37vh;
    margin-left: 59vh;
    color: var(--active-text-color);
    width: 12vh;
    height: 6vh;
}





@media screen and (max-width: 600px){

    .navbar{
        width: 99.8%;
        height: 100%;
        display: flex;
    }

    .navbtns button{
        padding-top: 7px;
    }
    

    .container{
        border: var(--borders);
        border-radius: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 75vw;
        width: 90vw;
        gap: 1em;
        background-color: var(--secondary-color);
        margin-top: 15vh;
    }

    .btns{
        display: flex;
    }
    
    .pomodoro-timer{
        font-size: 25vw;
    }

    .controls button{
        font-family: 'Roboto Mono', monospace;
        font-weight: bolder;
        font-size: 2.5vh;
        padding: 0;
    }
    
    .controls{
        display: flex;
        gap: 200px;
    }


    .reset{
        background: transparent;
        border: none;
        fill:rgb(244, 76, 76);
        margin-left: 2px;
    }

    .start{
        margin-top:1px;
        height: 3em;
        width: 2em;
        background-color:transparent ;
        fill:var(--active-text-color);
        margin-right:5px;
    }

    .start svg{
        width: 65px;
        height: 60px;
    }
    
    .timerbtn{
        height: 14vw;
        width: 28vw;
        font-size: 3.5vw;
        font-weight: bolder;
        color: var(--light-font-color);
        transition: 250ms;
       
    }

    
    .timerbtn:hover{
        background-color: var(--accent-color);
        
    }

    .active{
        background-color: var(--accent-color);
        color:var(--active-text-color);
    }

    #long::after {
        content: "";
        position: absolute;
        top: 0; left: 0; bottom: 0;
        width: 1.5px;
        background: var(--button-border-accent);
    }

    #setting-modal{
        width: 100%;
        height: 100%;
        max-width: 800px;
        background-color: var(--primary-color);
        border-radius: 0;
        overflow: hidden;
        box-shadow: none;
        border: var(--borders);
    }

    .setting-menu{
        color:var(--active-text-color);
        font-size: 1.7vh ;
        margin: 0 4vh 0 4vh;
    }
    
    .setting-options{
        font-weight: light;
        font-size: 2.3vh;
        margin: 0;
        margin-top: 2vh;
    }
    
    .setting-options select{
        margin-top: 0.5vh;
        border-radius: 1.2vh;
        width: 30vh;
        height: 5vh;
        background-color: var(--secondary-color);
        color: var(--active-text-color);
    }

    .volumeControl{
        width: 30vh;
    }

    .save{
        border-color:var(--borders);
        font-size: 2vh;
        border-radius: 2vh;
        margin-top: 57vh;
        margin-left: 27vh;
        color: var(--active-text-color);
        width: 12vh;
        height: 6vh;
    }

    
}